/* リセットcss */
*{
  padding: 0;
  margin: 0;
  font-weight: normal;
}

.clearfix::after { 
  content: '';
  display: block; 
  clear: both;
}

a{
  color:black;
  text-decoration: none;
}

a:hover{
  opacity: .5;
}

/* ヘッダー */
#header{
  width: 900px;
  margin: 0 auto;
  padding: 80px 0px;
  display: flex;
  justify-content: space-between;
}

#header ul{
  list-style: none;
  display: flex;
}

#header li{
  padding: 0 10px;
}

/* メイン */
/* メインビジュアル */
#mainvisual img{
  width: 100%;
  height: 400px;
  margin-bottom: 60px;
}

/* アバウト */
#about{
  width: 900px;
  margin: 0 auto 100px;
}

#about h2{
  margin-bottom: 50px;
  text-align: center;
}

#aboutdescription{
  width: 900px;
  margin: 0 auto;
}

#aboutdescription p{
  padding: 20px 0px;
} 

/* ワークス */
#works{
  text-align: center;
  width: 900px;
  margin: 0 auto 100px;
}

#works h2{
  margin-bottom: 50px;
}

#works ul{
  width: 900px;
  height: 400px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#works li{
  list-style: none;
}

#works img{
  margin: 0px 20px;
  list-style: none;
}

/* ニュース */
#news{
  text-align: center;
  width: 900px;
  margin: 0 auto 100px;
}

#news h2{
  margin-bottom: 50px;
}

#news dl{
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #ccc;
}

#news dt{
  width: 20%;
  padding: 15px 0px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

#news dd{
  width: 80%;
  padding: 15px 0px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

/* コンタクト */
#contact{
  text-align: center;
  width: 900px;
  margin: 0 auto;
}

#contact h2{
  margin-bottom: 50px;
}

#massagebox{
  width: 800px;
  height: 350px;
  margin: 0 auto;
}

.control{
  display: flex;
  margin: 30px 0;
}

#contact dt{
  width: 20%;
}

#contact dd{
  width: 80%;
  height: 40px;
}

#contact textarea{
  width: 100%;
  height: 150px;
  font-size: 20px;
}

#contact button{
  text-align: center;
  width: 200px;
  height: 50px;
  background-color: black;
  color: white;
}

#contact input{
  width: 100%;
  height: 40px;
  font-size: 20px;
}

#contact button :hover{
  opacity: 0.5;
}

/* フッター */
footer{
  margin-top: 100px;
  text-align: center;
  color: white;
  background-color: black;
  color: white;
}
