@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');

*{
  font-size: 14px;
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
}

body{
  max-width: 1600px;
}

/* ヘッダー 開始 */
header{
  max-width: 1600px;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: #fff;
}

header h1 {
  width: 1200px;
  padding: 20px 0;
  margin: 0 auto;
  font-size: 2em;
  font-weight: bold;
}

header .wrap{
  width: 1600px;
  background-color: #000;
  color: #fff;
}

header ul{
  width: 1200px;
  margin: 0 auto;
  display: flex;
}

header li{
  margin: 10px 40px 10px 0;
  list-style: none;
  font-weight: bold;
}
/* ヘッダー  終了 */

/* メイン 開始 */
main{
  margin: 160px 0 0 0;
  max-width: 1600px;
}
/* ピックアップ写真 開始 */
#pickup_pictures{
  width: 1200px;
  margin: 0 auto 100px;
}

#pickup_pictures li p:nth-child(2){
  font-weight: bold;
}

#pickup_pictures ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
}

#pickup_pictures a{
  text-align: center;
  color: #000;
}

#pickup_pictures a:hover{
  text-decoration: none;
}

#pickup_pictures p{
  width: 95%;
  padding: 10px;
  font-size: 16px;
}

#pickup_pictures img{
  width: 374px;
  height: 210px;
}
/* ピックアップ写真 終了 */

/* メイン全体 開始 */
#main_topic{
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto 200px;
}

#mainpic1 p:nth-child(4){
  width: 90%;
  display: block;
  margin: 0 auto;
  padding: 10px 0 30px 0;
  font-size: 16px;
}

#mainpic2 p:nth-child(4){
  width: 90%;
  display: block;
  margin: 0 auto;
  padding: 20px 0 30px 0;
  font-size: 16px;
}

#mainpic3 p:nth-child(4){
  width: 90%;
  display: block;
  margin: 0 auto;
  padding: 10px 0 30px 0;
  font-size: 16px;
}
/* メイン全体 終了 */

/* メイン記事 開始 */
article{
  width: 759px;
}

article h2{
  font-size: 24px;
}

article div{
  margin: 0 0 70px 0;
}

article img{
  width: 759px;
  height: 427px;
}

article a{
  color: #000;
  text-align: center;
}

article a:hover{
  text-decoration: none;
}

#mainpic1 p:first-of-type{
  padding:10px 0;
}

#mainpic2 p:first-of-type{
  padding:10px 0;
}

#mainpic3 p:first-of-type{
  padding:10px 0;
}
/* メイン記事 終了 */

/* サイドバー 開始 */
aside{
  width: 345px;
}

#author_pic img{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

#author_pic h3{
  text-align: center;
  margin: 30px 0;
  font-size: 18px;
}

#author_pic p{
  margin: 30px 0;
}

#ranking li{
  list-style: none;
  margin: 30px 0;
}

#ranking h3{
  text-align: center;
  margin: 50px 0;
  font-size: 18px;
}

#ranking img{
  width: 345px;
  height: 194px;
}

#archive h3{
  text-align: center;
  margin: 60px 0 30px 0;
  font-size: 18px;
}

#archive p:first-of-type{
  border-top: 1px solid #000;
}

#archive p{
  border-bottom: 1px solid #000;
  padding: 20px;
}
/* サイドバー 終了 */

/* メイン情報 開始 */
#main_info{
  height: 530px;
  background-color: #f7f7f7;
}

#wrap{
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 100px 0;
}

#main_info_about{
  width: 350px;
}

#main_info_about h3{
  margin: 0 0 30px 0;
  font-size: 18px;
}

#main_info_about p:first-of-type{
  margin: 20px 0;
}

#main_info_about p{
  padding: 0 0 5px 0;
}

#main_info_menu{
  width: 350px;
}

#main_info_menu h3{
  margin: 0 0 30px 0;
  font-size: 18px;
}
#main_info_menu p:first-of-type{
  border-top: 1px solid #000;
}

#main_info_menu p{
  border-bottom: 1px solid #000;
  padding: 15px;
}

#main_info_twitter{
  width: 350px;
}

#main_info_twitter h3{
  margin: 0 0 30px 0;
  font-size: 18px;
}
/* メイン情報 終了 */
/* メイン終了 */

/* フッダー 開始 */
footer{
  text-align: center;
  background-color: #f7f7f7;
}
/* フッダー終了 */






/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 375px){
  body{
    max-width: 375px;
  }

  /* ヘッダー 開始 */
  header{
    max-width: 375px;
  }

  header h1 {
    width: 375px;
  }

  header .wrap{
    width: 375px;
  }

  header ul{
    width: 375px;
  }
  /* ヘッダー  終了 */

  /* メイン開始 */
  main{
    margin: 160px 0 0 0;
    max-width: 375px;
  }

  /* ピックアップ写真開始 */
  #pickup_pictures{
    width: 375px;
    display: block;
    margin: 0 auto 100px;
  }

  #pickup_pictures img{
    width: 343px;
    height: 192px;
    display: block;
    margin: 0 auto;
  }

  #pickup_pictures ul{
    display: block;
  }

  /* ピックアップ写真 終了 */

  /* メイン全体 開始 */
  #main_topic{
    display: block;
    width: 375px;
  }

  #mainpic1 p:nth-child(4){
    width: 90%;
    display: block;
    margin: 0 auto;
    padding: 10px 0 30px 0;
    font-size: 16px;
  }

  #mainpic2 p:nth-child(4){
    width: 90%;
    display: block;
    margin: 0 auto;
    padding: 20px 0 30px 0;
    font-size: 16px;
  }

  #mainpic3 p:nth-child(4){
    width: 90%;
    display: block;
    margin: 0 auto;
    padding: 10px 0 30px 0;
    font-size: 16px;
  }
  /* メイン全体 終了 */
  
  /* メイン記事 開始 */
  article{
    width: 375px;
  }

  article img{
    width:343px;
    height: 192px;
    display: block;
    margin: 0 auto;
  }
  /* メイン記事 終了 */

  #wrap{
    display: block;
  }
}

@media screen and (max-width: 767px) {
  #header .site-title {
    /* 表示テスト用のスタイル */
    background-color: blue;
  }
}