*{
  margin: 0;
  padding: 0;
}

clearfix::after { 
  content: '';
  display: block; 
  clear: both;
}

/* case-sec開始 */
h2{
  text-align: center;
  height: 70px;
  line-height: 70px;
}

.titleborder{
  color: black;
  border-bottom: 1px solid black;
}

.subtitle{
  text-align: center;
  font-size: smaller;
  height: 70px;
  line-height: 70px;
}

.CASE1{
  width: 750px;
  height: 350px;
  margin: 0 auto;
  border: 3px solid black;
  border-radius: 20px;
  font-size: large;
  margin-bottom: 50px;
}

#case1js{
  width: 175px;
  height: 50px;
  position: relative;
  top: -30px;
  left: 500px;
  border: 3px solid black;
  border-radius: 20px;
  background-color:#4169e1;
}

.case1des{
  width: 750px;
  height: 350px;
  margin: 0 auto;
  border: 3px solid black;
  border-radius: 20px;
  font-size: large;
  margin-bottom: 50px;
}

.CASE2{
  width: 750px;
  height: 350px;
  margin: 0 auto;
  border: 3px solid black;
  border-radius: 20px;
  font-size: large;
  margin-bottom: 50px;
}

#case2js{
  width: 175px;
  height: 50px;
  position: relative;
  top: -30px;
  left: 500px;
  border: 3px solid black;
  border-radius: 20px;
  background-color:#4169e1;
}

.CASE3{
  width: 750px;
  height: 350px;
  margin: 0 auto;
  border: 3px solid black;
  border-radius: 20px;
  font-size: large;
  margin-bottom: 50px;
}

#case3js{
  width: 175px;
  height: 50px;
  position: relative;
  top: -30px;
  left: 500px;
  border: 3px solid black;
  border-radius: 20px;
  background-color:#4169e1;
}

.CASE4{
  width: 750px;
  height: 350px;
  margin: 0 auto;
  border: 3px solid black;
  border-radius: 20px;
  font-size: large;
  margin-bottom: 50px;
}

#case4js{
  width: 175px;
  height: 50px;
  position: relative;
  top: -30px;
  left: 500px;
  border: 3px solid black;
  border-radius: 20px;
  background-color:#4169e1;
}


.CASE5{
  width: 750px;
  height: 350px;
  margin: 0 auto;
  border: 3px solid black;
  border-radius: 20px;
  font-size: large;
  margin-bottom: 50px;
}

#case5js{
  width: 175px;
  height: 50px;
  position: relative;
  top: -30px;
  left: 500px;
  border: 3px solid black;
  border-radius: 20px;
  background-color:#4169e1;
}
 /* case-sec共通部分 */
.left{
  float: left;
  width: 400px;
  height: 249px;
  border-bottom: 1px dashed black;
}

.right{
  float: right;
  width: 350px;
  height: 250px;
  text-align: center;
  position: relative;
  top: 25px;
}

.left-left{
  float: left;
  width: 260px;
  height: 250px;
  padding: 20px;
}

.left-right{
  float: right;
  width: 100px;
  height: 250px;
  position: relative;
  top: 50px;
}

.bottom{
  text-align: center;
  line-height: 100px;
  font-size: x-large;
}

.addcase{
  width: 70px;
  height: 25px;
  background-color: yellow;
  text-align: center;
  line-height: 25px;
  font-size: smaller;
}

span{
  color: red;
  font-size: larger;
  border-bottom: 1px solid red;
}
/* case-sec共通部分終了 */
/* case-sec 終了 */

/* sec9開始 */
.sec9header{
  height: 200px;
}

/* 上のくくり */
.sec9mainupper{
  background-color: #EEEEEE;
  height: 300px;
  display: flex;
  justify-content: center;
}

#sec9mainupperleft{
  height: 300px;
}

#sec9mainupperleftfont{
  font-size: x-large;
  letter-spacing: 1px;
  position: relative;
  bottom: 0px;
}

#sec9mainupperleftfontcolor{
  color: red;
}

.sec9headerupperright{
  position: relative;
  height: 300px;
  left: 100px;
  bottom: 100px;
}

/* 下のくくり */
.sec9mainunder{
  background-color: #EEEEEE;
  height: 800px;
  display: flex;
  justify-content: center;
}

#sec9mainunderleft{
  padding-right: 20px;
}

#sec9mainunderright{
  padding-left: 20px;
}

#sec9mainunderleftbox{
  width: 380px;
  height: 270px;
  background-color:white;
  padding: 20px;
}

#sec9mainunderrightbox{
  width: 380px;
  height: 220px;
  background-color:white;
  padding: 20px;
}

#sec9mainunderrightfont{
  width: 380px;
  padding: 20px;
}

.sec9titlefont1{
  width: 180px;
  height: 35px;
  background-color: #EEEEEE;
  text-align: center;
  line-height: 35px;
  border-radius: 40px;
  margin-bottom: 20px;
}

.sec9titlefont2{
  width: 100px;
  height: 35px;
  background-color: #EEEEEE;
  text-align: center;
  line-height: 35px;
  border-radius: 40px;
  margin-bottom: 20px;
}

.sec9titelfontsize{
  margin-bottom: 20px;
}

